.container-fluid{
    height: calc(100vh - 3rem);
    align-content: center;
  }
  
  .banner-heading{
    font-size: 2.25rem;
    color: #069C54;
    margin-bottom: .5rem;
  }
  
  .leadbanner-par{
    font-size: 2.25rem;
    color: #393939;
    margin-bottom: 2rem;;
  }
  
  .img{
    width: 300px;
    justify-self: center;
  }
  .btn {
    display: inline-block;
    background-color: #069C54;
    color: #FFF;
    padding: .75rem 1rem;
    border-radius: .5rem;
    transition: .3s;
  }
  
  .btn:hover{
    background-color: #048654;
  }