

<section class=" home ">
    <div class="container-fluid">
        <div class="row ">
            <div class="col md-6">
                <div class="text- text-md-left text-center banner">
                    <h1 class="banner-heading display-4" > Tasty food</h1>
                    <h2 class="lead banner-par" >Try the best food of <br> the week.</h2>
                    <button type="button" class="btn btn-success">View Menu</button>
                </div>

            </div>
            <div class="col-md-6 ">
                
                <div>
                    <img src="img/home.png" alt="image" class="img">
                </div>
            </div>
        </div>
    </div>
</section>