.menu__container{
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  
  .menu__content{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(3,74,40,.15);
    padding: .75rem;
  }
  
  .menu__img{
    width: 100px;
    align-self: center;
    margin-bottom: 1rem;
  }
  
  .menu__name, .menu__preci{
    font-weight: 600;
    color:#393939;
  }
  
  .menu__name{
    font-size: .938rem;
  }
  
  .menu__detail, .menu__preci{
    font-size: .813rem;
  }
  
  .menu__detail{
    margin-bottom: .5rem;
  }
  
  .menu__button{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: .625rem .813rem;
    border-radius: .5rem 0 .5rem 0;
  }