.services__container{
    row-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  
  .services__content{
    text-align: center;
  }
  
  .services__img{
    width: 64px;
    height: 64px;
    fill: #069C54;
    margin-bottom: 1rem;
  }
  
  .services__title{
    font-size: 1rem;
    color: #393939;
    margin-bottom: .5rem;
  }
  
  .services__description{
    padding: 0 1.5rem;
  }